<h1>Position#getPosition</h1>
<p>Find me in app/views/position/getPosition.html.erb</p>

<script>
	function  getLocation(){
		if (navigator.geolocation){
			navigator.geolocation.getCurrentPosition(showPosition);
		}else{
			document.write("No sirve!! :C ");
		}
	}

	function showPosition(position){
		document.write("Latitud: "+position.coords.latitude + "<br>Longitud: " + position.coords.longitude);
	}

	window.setInterval(getLocation,1000);
</script>	
